body {
    background: linear-gradient(13deg, #985db7, #72b4e4);
    margin: 0;
    font-family:Arial, Helvetica, sans-serif;
    background-size: 200% 200%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
.information-form {
    background-color: rgb(251, 248, 248);
    padding: 50px;
    max-width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 50px auto;
    border-radius: 20px;
    text-align: center;
    background: rgba(251, 249, 249, 0.3);
}
.information-form img {
    width: 175px;
    height: 175px;
    border-radius: 50%;
    border: 2px solid rgb(55, 46, 46);
}
.information-form h1 {
    color: red;
    margin: 4px 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.information-form a {
    margin: 15px 20px 0 20px;
    text-decoration: none;
    background-color: white;
    color: black;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:large;
    border-radius: 75%;
    width: 40px;
    height: 40px;
    padding: 15px;
}
.information-form p {
    font-weight: normal;
    text-align: center;
}
.information-form a:hover {
    background-color: black;
    color: white;
}